
# dependencies
node_modules/

# env
.env
.env*.local

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
ios/build/
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/app/build/
*.iml

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# local dev
.vscode/
.idea/
*.swp

# test coverage
coverage/

# typescript
*.tsbuildinfo

# build artifacts
build/

# misc
*.tmp
temp/
tmp/
